    html, body {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        background-color: white;
        font-family: 'Roboto', sans-serif;
    }

    .todo-header h1 {
        color: lightblue;
        font-size: 8rem !important;
    }

    .parent-list {
        position: relative;
    }

    .input-form {
        padding-bottom: 15px;
    }

    .input-form form{
        border: 1px solid lightblue;
    }

    .todo-list {
        /* margin: 20px auto; */
        background-color: #fff;
        border-radius: 5px;
        border: 1px solid rgb(159, 217, 255);
        width: 100%; 
        max-width: 600px; 
        margin: 7px auto; 
        padding: 1em; 
        box-shadow: 
        6px 6px #989898, 
        12px 12px #6c6666;
        box-shadow: 
            0px 13px 2px -6px lightblue,
            0px 11px 0 -10px lightblue,
            0px 26px 3px -12px #bfeaf1,
            0px 24px 0 -25px #bfeaf1;
    }

    .list-shadow { 
        background-color: #fff;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        border: 1px solid rgb(170, 221, 255);
        margin: 0.1px auto;
        padding: 0.1px; 
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .list-shadow1 {
        width: 90%;
        max-width: 560px;
        height: 16px;
        -webkit-box-shadow: 0 10px 6px -6px #777;
        -moz-box-shadow: 0 10px 6px -6px #777;
        box-shadow: 0 10px 6px -6px #777;
    }

    .list-shadow2 {
        width: 90%;
        max-width: 580px;
        height: 13px;
        -webkit-box-shadow: 0 10px 6px -6px #777;
        -moz-box-shadow: 0 10px 6px -6px #777;
        box-shadow: 0 10px 6px -6px #777;
    }

    .form-field {
        width: 100%;
        max-width: 600px;
        background: #fff;
        color: rgb(8, 8, 8);
        font: inherit;
        box-shadow: 0 6px 10px 0 rgba(0, 0, 0 , .1);
        border: 0;
        outline: 0;
        padding: 10px 50px;
    }

    .form-field:focus {
        border: 2px solid #3498DB;
    }

    .btn {
        display: none;
        width: 0%;

    }

    .list-tasks {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        padding: 0;
        width: 560px;
        background-color: #fff;
        list-style: none;
        overflow: hidden;
    }

    .list-item {
        height: 50px;
    }
 
    .task-label:before {
        content: ' ';
        display: block;
        height: 2.5rem;
        width: 2.5rem;
        position: absolute;
        top: 0;
        left: 0;
        background: white;
    }

    .task-label:after { 
        content: ' ';
        display: block;
        height: 2.5rem;
        width: 2.5rem; 
        border: .20rem solid white;
        transition: 200ms;
        position: absolute;
        top: 0;
        left: 0;
        transition: 100ms ease-in-out;
    }

    .checkbox-input:checked ~ .task-label:after {
        border-top-style: none;
        border-right-style: none;
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
        height: 1rem;
        width: 1rem;
        border-color: rgb(82, 185, 219);
    } 

    .the-task {
        position: relative;
        font-size: 1.3em;
        color: rgb(32, 32, 32);
        cursor: pointer;
        -webkit-tap-highlight-color: rgba(0,0,0,0);
    }

    .task-label {
        margin-left: 2.5rem;
        line-height: .75;
    }

    #chetyre:checked ~ .task-label {
        text-decoration:line-through;
        color: rgb(255, 0, 0);        
    }

    .uppercase {
	    text-transform: uppercase;
    }

    input[type="checkbox"]:checked + span { 
        text-decoration: line-through; 
    }

    .container_auth {
        margin: 20px auto;
        padding: 10px;
        width: 300px;
        background-color: #fff;
        border-radius: 5px;
        border: 1px solid rgb(196, 218, 233);
    }

    .container_auth h1 {
        width: 70%;
        color: #777;
        font-size: 32px;
        margin: 28px auto;
        margin-bottom: 20px;
        text-align: center;
    }

    .sign-in-form {
        text-align: center;
    }

    .sign-in-form input {
        padding: 12px 0;
        margin-bottom: 10px;
        border-radius: 3px;
        border: 2px solid transparent;
        text-align: center;
        width: 90%;
        font-size: 16px;
        transition: border .2s, background-color .2s;
    }

    form .field {
        background-color: #ECF0F1;
        border: 1px solid rgb(211, 224, 233);
    }

    form .field:focus {
        border: 2px solid #3498DB;
    }

    form .loggedbtn {
        background-color: #3498DB;
        color: #fff;
        line-height: 25px;
        cursor: pointer;
        padding: 12px 0;
        margin-bottom: 10px;
        border-radius: 3px;
        border: 2px solid transparent;
        text-align: center;
        width: 90%;
        font-size: 16px;
        transition: border .2s;
    }

    form .loggedbtn:hover, form .loggedbtn:active {
        background-color: #1F78B4;
        border: 2px solid #1F78B4;
    }

    .pass-link {
        padding-top: 20px;
        text-align: center;
    }

    .pass-link a:link, .pass-link a:visited {
        font-size: 12px;
        color: #777;
    }


    .sign_btn {
        background-color: rgb(165, 207, 235);
        color: #fff;
        line-height: 25px;
        cursor: pointer;
        padding: 12px 50px;
        margin-top: 15px;
        border-radius: 3px;
        border: 2px solid transparent;
        text-align: center;
        width: 100%;
        font-size: 20px;
        transition: border .2s;
    }

    .sign_btn:hover, .sign_btn:active {
        background-color: #1F78B4;
        border: 2px solid #1F78B4;
    }

    .modal_header {
        color: rgb(109, 199, 230);
        margin-left: auto;
        margin-right: auto;
    }

    .sign_btn_modal {
        background-color: rgb(44, 182, 228);
    } 

    .toastr {
        position: fixed;
        top: 30px;
        right: 30px;
        width: 20%;
    }

    .close {
        margin-left: 15px;
    }

    .my_profile a {
        position: fixed;
        top: 60px;
        right: 85%;
        font-size: 25px;
        color: #777;
    }

    .container_user_info {
        position: fixed;
        top: 168px;
        right: 79%;
        font-size: 14px;
        width: 250px;
        padding: 10px;
        background-color: #fff;
        border-radius: 5px;
        border: 1px solid rgb(196, 218, 233);
    }

    .container_user_info h2 {
        text-align: center;
        color: #888;
    }

    .row_user_info {
        margin-top: 18px;
    }

    .container_user_info h6 {
        text-align: center;
        color: #888;
        font-weight: bolder;
        padding-top: 20px;
    }

    .user_signature {
        color: #777;
        padding-top: 15px;
    }

    .user_value {
        color: #1F78B4;
        font-weight: bolder;
    }

    .avatar_user_img {
        max-width: 100px;
        max-height: 100px;
    }
